<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Influenza</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="head"><h1>INFLUENZA</h1></div>
        <nav class="navigation"><a href="home.html">HOME</a></nav>
        <div class="about"><h2>About</h2>
            <p>Influenza is a viral infection that attacks your respiratory system — your nose, throat and lungs. Influenza is commonly called the flu, but it's not the same as stomach "flu" viruses that cause diarrhea and vomiting.
               For most people, influenza resolves on its own. But sometimes, influenza and its complications can be deadly.<br>Though the annual influenza vaccine isn't 100 percent effective, it's still your best defense against the flu.</p>
        </div>
        <div class="symptoms"><h2>Symptoms</h2>
            Initially, the flu may seem like a common cold with a runny nose, sneezing and sore throat. But colds usually develop slowly, whereas the flu tends to come on suddenly. And although a cold can be a nuisance, you usually feel much worse with the flu.<br>Common signs and symptoms of the flu include:
            <ul>
                <li>Fever over 100.4 F (38 C)</li>
                <li>Aching muscles</li>
                <li>Chills and sweats</li>
                <li>Headache</li>
                <li>Dry, persistent cough</li>
                <li>Fatigue and weakness</li>
                <li>Nasal congestion</li>
                <li>Sore throat</li>
            </ul>
        </div>
        <div class="medication"><h2>Prescribed Medication</h2>
            Usually, you'll need nothing more than bed rest and plenty of fluids to treat the flu. But in some cases, your doctor may prescribe an antiviral medication, such as oseltamivir (Tamiflu) or zanamivir (Relenza). If taken soon after you notice symptoms, these drugs may shorten your illness by a day or so and help prevent serious complications.<br>
            Oseltamivir is an oral medication. Zanamivir is inhaled through a device similar to an asthma inhaler and shouldn't be used by anyone with respiratory problems, such as asthma and lung disease.<br>
            Antiviral medication side effects may include nausea and vomiting. These side effects may be lessened if the drug is taken with food. Oseltamivir has also been associated with delirium and self-harm behaviors in teenagers.<br>
            Some strains of influenza have become resistant to amantadine and rimantadine (Flumadine), which are older antiviral drugs.<br>
            If you do come down with the flu, these measures may help ease your symptoms:
            <ul>
                <li><em>Drink plenty of liquids.</em> Choose water, juice and warm soups to prevent dehydration.</li>
                <li><em>Rest.</em> Get more sleep to help your immune system fight infection.</li>
               <li><em>Consider pain relievers. </em>Use an over-the-counter pain reliever, such as acetaminophen (Tylenol, others) or ibuprofen (Advil, Motrin IB, others), to combat the achiness associated with influenza. Use caution when giving aspirin to children or teens because of the risk of Reye's syndrome, a rare but potentially fatal condition.</li>
            </ul>
        </div>
        <div class="doctor"><button type="button" value="Consult a Doctor">Consult a doctor</button></div>
        <footer>
            &copy;MedNeeds&nbsp;|Designed by AVIRAL JAIN
        </footer> 
    </div>
    
</body>
</html>