<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="head"><h1>MALARIA</h1></div>
        <nav class="navigation"><a href="home.html">HOME</a></nav>
        <div class="about"><h2>About</h2>
        <p>Malaria is a life-threatening disease. It’s typically transmitted through the bite of an infected Anopheles mosquito. Infected mosquitoes carry the Plasmodium parasite. When this mosquito bites you, the parasite is released into your bloodstream.<br>Once the parasites are inside your body, they travel to the liver, where they mature. After several days, the mature parasites enter the bloodstream and begin to infect red blood cells.
            Within 48 to 72 hours, the parasites inside the red blood cells multiply, causing the infected cells to burst open.
            </p></div>
        <div class="symptoms"><h2>Symptoms</h2><p>The symptoms of malaria typically develop within 10 days to 4 weeks following the infection. In some cases, symptoms may not develop for several months. Some malarial parasites can enter the body but will be dormant for long periods of time.<br>Common symptoms of malaria include:</p>
        <ul><li>shaking chills that can range from moderate to severe</li><li>high fever</li>
        <li>profuse sweating</li><li>headache, nausea, vomiting</li><li>abdominal pain, diarrhea, anemia, muscle pain</li></ul></div>
        <div class="medication"><h2>Prescribed Medication</h2><p>The most common antimalarial drugs include:</p>
        <ul><li><em>Artemisinin-based combination therapies (ACTs)</em>ACTs are, in many cases, the first line treatment for malaria. There are several different types of ACTs. Examples include artemether-lumefantrine (Coartem) and artesunate-amodiaquine. Each ACT is a combination of two or more drugs that work against the malaria parasite in different ways.</li>
        <li><em>Chloroquine phosphate.</em>Chloroquine is the preferred treatment for any parasite that is sensitive to the drug. But in many parts of the world, the parasites that cause malaria are resistant to chloroquine, and the drug is no longer an effective treatment.</li></ul></div>
        <div class="doctor"><button type="button" value="Consult a Doctor">Consult a doctor</button></div>
        <footer>
            &copy;MedNeeds&nbsp;|Designed by AVIRAL JAIN
        </footer> 
    </div>
    
</body>
</html>