<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="head"><h1>HEPATITIS</h1></div>
        <nav class="navigation"><a href="home.html">HOME</a></nav>
        <div class="about"><h2>About</h2><p>Hepatitis refers to an inflammatory condition of the liver. It’s commonly caused by a viral infection, but there are other possible causes of hepatitis. These include autoimmune hepatitis and hepatitis that occurs as a secondary result of medications, drugs, toxins, and alcohol. Autoimmune hepatitis is a disease that occurs when your body makes antibodies against your liver tissue.<br>Your liver is located in the right upper area of your abdomen. It performs many critical functions that affect metabolism throughout your body.<br>Viral infections of the liver that are classified as hepatitis include hepatitis A, B, C, D, and E. A different virus is responsible for each type of virally transmitted hepatitis.</p></div>
        <div class="symptoms"><h2>Symptoms</h2><p>If you have infectious forms of hepatitis that are chronic, like hepatitis B and C, you may not have symptoms in the beginning. Symptoms may not occur until the damage affects liver function.<br>Signs and symptoms of acute hepatitis appear quickly. They include:</p>
        <ul><li>fatigue</li><li>flu-like symptoms</li><li>dark urine</li>
        <li>pale stool</li><li>abdominal pain</li><li>loss of apetite</li><li>unexplained weight loss</li>
        <li>yellow skin and eyes.</li></ul></div>
        <div class="medication"><h2>Prescribed Medication</h2><p>The use of vaccines is an important key to preventing hepatitis. Vaccinations are available to prevent the development of hepatitis A and B. Experts are currently developing vaccines against hepatitis C. </p></div>
        <div class="doctor"><button type="button" value="Consult a Doctor">Consult a doctor</button></div>
        <footer>
            &copy;MedNeeds&nbsp;|Designed by AVIRAL JAIN
        </footer> 
    </div>
    
</body>
</html>