<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="container">
        <div class="head"><h1>MALARIA</h1></div>
        <nav class="navigation"><a href="home.html">HOME</a></nav>
        <div class="about"><h2>About</h2><p>Chickenpox is an infection caused by the varicella-zoster virus. It causes an itchy rash with small, fluid-filled blisters.</p></div>
        <div class="symptoms"><h2>Symptoms</h2><p>The itchy blister rash caused by chickenpox infection appears 10 to 21 days after exposure to the virus and usually lasts about five to 10 days. Other signs and symptoms, which may appear one to two days before the rash, include:</p><ul>
            <li>Fever</li>
            <li>Loss of appetite</li>
            <li>Headache</li>
            <li>Tiredness and a general feeling of being unwell (malaise)</li></ul>
            <p>Once the chickenpox rash appears, it goes through three phases:</p>
            <ul><li>Raised pink or red bumps (papules), which break out over several days</li>
            <li>Small fluid-filled blisters (vesicles), which form in about one day and then break and leak</li>
        <li>Crusts and scabs, which cover the broken blisters and take several more days to heal</li></ul>
        </div>
        <div class="medication"><h2>Prescribed Medication</h2><p>In otherwise healthy children, chickenpox typically needs no medical treatment. Your doctor may prescribe an antihistamine to relieve itching. <br>If you or your child are at high risk of complications, your doctor may suggest an antiviral drug such as acyclovir (Zovirax, Sitavig) or another drug called immune globulin intravenous (Privigen). These medications may lessen the severity of chickenpox when given within 24 hours after the rash first appears.<br>Other antiviral drugs, such as valacyclovir (Valtrex) and famciclovir, also may lessen the severity of the disease, but may not be approved or appropriate for everyone. In some instances, your doctor may recommend getting the chickenpox vaccine after you've been exposed to the virus. This can prevent the disease or lessen its severity.</p></div>
        <div class="doctor"><button type="button" value="Consult a Doctor">Consult a doctor</button></div>
        <footer>
            &copy;MedNeeds&nbsp;|Designed by AVIRAL JAIN
        </footer> 
    </div>
    
</body>
</html>